<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.919621120544-hspr1ej20hbch20o83a3tefem6gt84ct</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb912593731082338</string>
			</array>
		</dict>
	</array>
	<key>FacebookAppID</key>
	<string>912593731082338</string>
	<key>FacebookClientToken</key>
	<string>03813b8e3007df3a556af0ae22e89eb6</string>
	<key>FacebookDisplayName</key>
	<string>lucky_depot</string>
	<key>GIDClientID</key>
	<string>919621120544-hspr1ej20hbch20o83a3tefem6gt84ct.apps.googleusercontent.com</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
	</array>
</dict>
</plist>
